# Node modules
/node_modules

# Compilation output
/dist

# Misc
.env
.DS_Store
/nft

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types
/types/ethers-contracts

# Hardhat coverage reports
/coverage
/coverage.json

# Hardhat Ignition deployments folder
ignition/deployments

# PHPStorm
.idea
